<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>347548423718-i1kvt9ta7695bh3aksr8vcml7abuugce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.347548423718-i1kvt9ta7695bh3aksr8vcml7abuugce</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>347548423718-7tpco8plh96p7l20bt2s1ucgqo6v5vo4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBKVlopPwF8cy2T3uH2wJndHi4EaZ7lft0</string>
	<key>GCM_SENDER_ID</key>
	<string>347548423718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tweetFeed</string>
	<key>PROJECT_ID</key>
	<string>tweet-feed-12ff4</string>
	<key>STORAGE_BUCKET</key>
	<string>tweet-feed-12ff4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:347548423718:ios:d78a222c0294a6f6c078e7</string>
</dict>
</plist>